@mixin menu-btn {
  width: 40px;
  height: 38px;
  padding: 0.75em 0;
  margin-left: 1.35em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  span {
    background-color: $primary-clr;
    width: 23px;
    height: 3px;
  }
}

.header {
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;

    .logo {
      cursor: pointer;
      img {
        width: 100px;
        height: 40px;
      }
    }

    .pages {
      transform: translateY(8px);
      a {
        font-size: clamp(21px, 4vw, 25px);
        font-weight: 600;
        margin-right: 2em;
        &:nth-child(3) {
          margin-right: 0;
        }
        .border {
          background: black !important;
        }
      }
      .close-menu {
        @include menu-btn();
      }
    }

    .active-menu {
      display: flex;
    }

    .cart {
      display: flex;
      align-items: center;
      a {
        display: block;
        font-weight: 600;
        font-size: clamp(21px, 4vw, 25px) !important;
        cursor: pointer;
        transform: translateY(5px);
        .border {
          background-color: black;
        }
      }
      .items {
        font-size: 0.65em;
        color: #fff;
        padding: 0.4em 0.65em 0.42em 0.68em;
        background: $primary-clr;
        border-radius: 50%;
        margin-left: 1.15em;
        cursor: unset;
        text-align: center;
      }
      .hamburger-menu {
        @include menu-btn();
      }
    }
  }

  .quote {
    font-size: clamp(1.75rem, 5.5vw, 9rem);
    padding-top: clamp(1.2em, 4vw, 3em);
    font-weight: 500;
    .line {
      overflow: hidden;
      span {
        position: relative;
        bottom: 0;
      }
    }
  }

  .video {
    position: relative;
    overflow: hidden;
    margin-top: clamp(3em, 5vw, 6em);
    img {
      opacity: 0;
    }

    iframe {
      top: 0px;
      right: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
